body {
  display: flex;
  background-color: grey;
  justify-content: center;
  height: 100%;
  align-items: center;
}
form{
  background-color: skyblue;
  align-self: center;
 justify-content: space-between;
 display: flex;
 flex-direction: column;
 border: deepskyblue 2px solid;
 border-radius: 10px;
 width:100%;
 padding: 20%;
 margin-top: 20%;
}