body {
  display: flex;
  background-color: grey;
  justify-content: center;
  height: 100%;
  align-items: center;
}
form{
  background-color: skyblue;
  align-self: center;
 justify-content: space-evenly;
 display: flex;
 flex-direction: column;
 border: deepskyblue 2px solid;
 border-radius: 10px;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20%;
  margin-top: 40%;
  background-color: white;
  border: deepskyblue 2px solid;
  border-radius: 10px;
}

button{
  margin-top: 5%;
  background-color: grey;
  color : white;
  width: 50%;
}